## Nosso primeiro código

Para iniciarmos, vamos fazer nosso primeiro código em Python.

Vamos utilizar o 'print' para mostrar em tela a mensagem 'hello word' ,vamos escrever, e irá nos retornar em tela o que escrevemos.

In [2]:
print('Hello word')

Hello word

### Comentários

Vamos aprender como é possível colocar comentários no código. Quando qualquer código estiver comentado não sera executado a parte comentada.

In [ ]:
# comentário de uma única linha

'''
Comentários que
necessitam
estar em mais de uma linha.
'''

### Variáveis

É o recurso utilizado para que seja armazenado valores em memória, ela nos ajuda a gravar e ler dados com maior facilidade a partir do nome escolhido. Os tipos comuns de variáveis são:

### Inteiro
É um tipo que contém caracteres numéricos inteiros.
Exempo: 21, 4, 0, -2014

In [ ]:
idade = 18
ano = 2012

print(type(idade)) #saída: <class 'int'>
print(type(ano)) #saída: <class 'int'>

#### Ponto Flutuante
É um tipo de caractere numérico decimal.

In [ ]:
altura = 1.90
peso = 80.55

print(type(altura)) #saída: <class 'float'>

#### Complex
É um tipo de dado usado para representar números complexos

In [ ]:
a = 5+2j

print(type(a)) #saída: <class 'complex'>

#### String
É um conjunto de caracteres, geralmente são palavras, frases ou textos.

In [ ]:
nome = 'Francisco da viola'
cidade = 'Cachoeirinha da capivara'

print(type(cidade)) #saída: <class 'str'>

#### Boolean

Tipo de dado que pode receber dois valores, ou verdadeiro ou falso.

In [ ]:
cansado = True

print(type(cansado)) #saída: <class 'bool'>

#### Listas
É um tipo de dado onde podem ser agrupados um conjuto de dados de qualquer das formas anteriores.

In [ ]:
alunos = ['Edwildson', 'Jorge', 'Cagol', 'Samuel']
notas = [2.0, 3.0, 4.0, 8.0]

print(type(alunos)) #saída: <class 'list'>
print(type(notas))  #saída: <class 'list'>

#### Tuplas

É um tipo de dados que a única coisa que se diferencia da lista é que são imutáveis após serem definidas e usam parenteses, não é possível realizar alterações.

In [ ]:
alunos = ('Edwildson', 'Jorge', 'Cagol', 'Samuel')
notas = (2.0, 3.0, 4.0, 8.0)

print(type(alunos)) #saída: <class 'tuple'>

Dicionário

É um tipo de dados em que é possível agregar valor através de chave e valor.

In [ ]:
altura = {'Edwildson': 1.87, 'Jorge': 1.79, 'Cagol': 1.65, 'Samuel': 1.77}
print(type(altura)) #saída: <class 'dict'>

## Mudar o tipo de variável

Em algumas ocasiões é necessário modificar o tipo de variável, também conhecido como cast.

#### Float para String

In [ ]:
altura = 1.80
print(type(altura)) # saida: <class 'float'>

altura = str(altura)
print(type(altura)) #saida: <class 'str'>

#### Inteiro para Float

In [ ]:
idade = 16
print(type(idade)) # saida: <class 'int'>

idade = float(idade)
print(type(idade)) #saida: <class 'float'>

#### Booleano para Inteiro

In [ ]:
domingo = True
print(type(domingo)) # saida: <class 'bool'>

domingo = int(domingo)
print(type(domingo)) #saida: <class 'int'>